.App {
  text-align: center;
}

input[type='text'] {
  width: 96%;
  padding: 1%;
  border: none;
}

.grid {
  display: grid;
  /*5 columns, each with 1 fraction */
  /* 1 fraction means that the element will occupy
  one fraction of the available space */

  /* repeat is a css function. repeat 5 is the same that:
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
  grid-template-columns: repeat(6, 1fr);

  border-top: 1px solid black;
  border-right: 1px solid black;
}

.grid > span {
  padding: 8px 4px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
