body {
  font-size: 20px;
}

th, td {
  border: 1px solid black;
}

input[type='text'] {
  /*width: 96%;
  padding: 1%;
  border: none;*/
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

td, th {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 18px;
}

th {
  background: #3498db;
  color: white;
  font-weight: bold;
  cursor: col-resize;
  position: relative;
  padding-right: 30px;
  min-width: 30px;
}

td {
  cursor: cell;
}

tbody tr:hover {
  background: #ccc;
}

button, .btn {
  cursor: pointer;
}

.btn-chevron {
  position: absolute;
  right: 5px;
}